.chart {
  padding: 1rem;
  border-radius: 12px;
  background-color: #1F1D2B;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}

@media (max-width: 720px) {
  .chart{
    padding: 1rem 0.2rem;
  }
}