.chart-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-bar__inner {
  height: 100%;
  width: 1.2rem;
  border-radius: 12px;
  background-color: #252836;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 0.6rem;
}

.chart-bar__fill {
  background-color: #ACACD3;
  width: 100%;
  transition: all 0.3s ease-out;
}

.chart-bar__label {
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}

@media (max-width: 720px) {
  .chart-bar__label {
    font-size: 0.6rem;
    transform: rotate(-90deg);
  }
  .chart-bar__inner {
    width: 1rem;
  }
}