.expense-date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  background-color: #ACACD3;
  border: outset 5px #5f383f;
  color: #1F1D2B;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.expense-date__month {
  font-size: 0.75rem;
  font-weight: bold;
  color: #1F1D2B;
}

.expense-date__year {
  font-size: 0.75rem;
  color: #1F1D2B;
}

.expense-date__day {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1F1D2B;
}