.expenses-list {
  list-style: none;
  padding: 0;
}

.expenses-list__fallback {
  color: #ACACD3;
  text-align: center;
}

@media (max-width: 720px) {
  .expenses-list__fallback{
    font-size: 0.8rem;
  }
}