.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  gap: 1rem;
  background-color: #1F1D2B;
}

.expense-item__description {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.expense-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.expense-item h2 {
  font-size: 1.3rem;
  width: 100%;
  margin: 0;
  color: #ACACD3;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.expense-item__price {
  font-size: 1.2rem;
  width: 100%;
  font-weight: bold;
  color: #a73939;
  text-align: left;
}

.expense-item__delete {
  margin-right: 0.5rem;
  font-weight: bold;
  width: 30px;
  cursor: pointer;
}

@media (max-width: 720px) {
  .expense-item h2 {
    font-size: 1rem;
  }

  .expense-item__price {
    font-size: 0.9rem;
  }
  .expense-item__delete{
    width: 20px;
  }
}