.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #1F1D2B;
}

.expense-item__description {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}

.expense-item h2 {
  font-size: 1.4rem;
  width: 18rem;
  margin: 0 1rem;
  color: #ACACD3;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.expense-item__price {
  font-size: 1.4rem;
  font-weight: bold;
  width: 20%;
  color: #a73939;
  padding: 0.5rem;
  border-radius: 12px;
  text-align: center;
}

.expense-item__delete {
  margin-right: 1rem;
  font-weight: bold;
  width: 30px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .expense-item h2 {
    font-size: 1.1rem;
    width: 9rem;
    padding: 0;
    margin-left: 0.5rem;
    color: #ACACD3;
    text-align: left;
  }

  .expense-item__price {
    font-size: 1rem;
    font-weight: bold;
    width: 20%;
    color: #a73939;
    padding: 0;
    border-radius: 12px;
    text-align: center;
    
  }

  .expense-item__delete {
    margin-right: 0.2rem;
    font-weight: bold;
    width: 30px;
    cursor: pointer;
  }
}