.auth-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 30rem;
  min-height: 26rem;
  background-color: #1F1D2B;
  color: white;
  text-align: center;
}

.auth-form h1 {
    color: white;
}

.auth-form form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.auth-form input {
  margin: 0.75rem auto;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  width: 20rem;
  color: #1F1D2B;
  max-width: 100%;
}

.auth-form button {
  margin-bottom: 1rem;
}

.auth-form span {
  margin: 1rem auto;
}

a {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
}