.reset-password-form {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 15rem auto;
  background-color: rgb(31, 31, 31);
  color: white;
  text-align: center;
  padding-bottom: 2rem;
}

.reset-password-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-password-form input {
  margin: 0.75rem auto;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.success-reset {
    display: flex;
    flex-direction: column;
    align-items: center;
}
