.reset-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 30rem;
  min-height: 26rem;
  background-color: #1F1D2B;
  color: white;
  text-align: center;
}

.reset-password-form h1 {
    color: white;
}

.reset-password-form form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.reset-password-form input {
  margin: 0.75rem auto;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  color: #1F1D2B;
  width: 20rem;
  max-width: 100%;
}

.success-reset {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
