.expenses-filter {
  color: white;
}

.expenses-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
  margin: 1rem 0;
}

.expenses-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ACACD3;
}

.expenses-filter select {
  background-color: #ACACD3;
  color: #1F1D2B;
  font: inherit;
  padding: 0.5rem;
  width: 6rem;
  font-weight: bold;
  border-radius: 6px;
}

@media (max-width: 720px) {
  .expenses-filter label {
    font-size: 0.8rem;
  }
  .expenses-filter select {
    font-size: 0.8rem;
    padding: 0.2rem;
    width: 4rem;
  }
}