.new-expense__controls {
  display: flex;
  width: 100%;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  text-align: center;
}

.new-expense__control label {
  font-weight: bold;
  margin-top: 0.8rem;
  display: block;
}

.new-expense__control input {
  font: inherit;
  font-size: 0.7rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 8rem;
  color: #1F1D2B;
}

.new-expense__actions {
  display: flex;
  justify-content: space-between;
}
