@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  color: #ACACD3;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #1F1D2B;
}

.action-button {
  margin: 1rem;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  min-width: 10rem;
  background-color: #525298;
  color: #FFFFFF;
  padding: 0.5rem 2rem;
  border: none;
  cursor: pointer;
  transition: ease 0.3s;
  text-decoration: none;
}

.action-button:hover, .action-button:active {
  background-color: #3d3d6f;
  box-shadow: 0 5px 15px rgba(38, 38, 38, 0.4);
}

.cancel-button {
  background-color: #755298;
}

.cancel-button:hover, .cancel-button:active {
  background-color: #553c6c;
}

.link-text {
  color: white;
  cursor: pointer;
}

.link-text:active, .link-text:hover {
  text-decoration: underline;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 90%;
  max-width: 40rem;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
}

.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 30px;
  cursor: pointer;
}

.success-reset {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}