.user-profile-form {
  display: flex;
  flex-direction: column;
  background-color: #252836;
  width: 100%;
  max-width: 30rem;
  padding: 0 1rem;
  color: white;
  text-align: center;
}

.user-profile-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-form-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.user-profile-form input {
  margin: 0.75rem 1rem;
  color: #1F1D2B;
  font: inherit;
  padding: 0.5rem;
  margin: 1rem 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
}

.user-profile-form input[id="name"]{
    width: 100%;
  }

.user-profile-form input[type="button"] {
  color: white;
  font-weight: bold;
}

.user-profile-form-actions {
  width: 100%;
}

.upload-button {
  display: none;
}

.profile-form-image {
    margin: 1rem 0 2rem;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

@media (max-width: 720px) {
  .profile-form-input{
    font-size: 0.8rem;
  }
  .user-profile-form input[id="name"]{
    width: 100%;
  }
  .profile-form-image {
    height: 100px;
    width: 100px;
  }
}