.header {
    width: 100%;
    height: 4.5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #ACACD3;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.home-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.home-icon {
    cursor: pointer;
    width: 50px;
}

.log-out-container {
    display: flex;
    margin: 0 1rem;
    justify-content: flex-end;
    width: 30%;
    align-items: center;
}

.log-out {
    cursor: pointer;
    width: 30px;
}

.profile-icon-container {
    display: flex;
    align-items: center;
    width: 30%;
    margin: 0 1rem;
    cursor: pointer;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
}

.profile-name {
    color: #383b4c;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (max-width: 720px) {
    .home-icon{
        width: 40px;
    }
    .log-out {
        width: 25px;
    }
    .profile-icon {
        width: 30px;
        height: 30px;
    }
}