.info-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 25rem;
  height: 12rem;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: #ACACD3;
  text-align: center;
  padding: 0.5rem;
}

.message-content{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.info-modal p{
  font-weight: bold;
  color: #1F1D2B;
  font-size: 0.9rem;
}


.info-modal-backdrop {
  position: fixed;
  display: flex;
  background-color: #1f1d2b8b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  width: 100%;
}


